body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: white;
}

.box:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.box:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.icon {
  font-size: 35px;
  color: #ffffff;
}